/*Frufruzinho css*/
html{
    scroll-behavior:smooth
}

:root{
    --active-color: #5f00db;
    --background-color: #1a1a1a;
    --item-color: #5a00c0;
    --b-item-color: #340070;
}

body{
    margin: 0;
    padding: 0;
    line-height: 1.6;
    word-spacing: 1.4px;
    font-family: sans-serif;
    background-color: #0f0f0f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}

.container-border{
    width: 70%;
    border-radius: 10px;
    background-color: transparent;
    background-size: 500% 100%;
    padding: 5px;
    margin-top: 5%;
}

.main-container{
    display: flex;
    width: 100%;
}

.subtitle-main-title{
    color: white;
}

.buttons{
    width: 15%;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    color: white;
    border-right: solid 1px var(--active-color);

}

.button-title{
    padding-left: 5%;
    font-size: 30px;
    font-weight: 800;
}

.button-subtitle{
    padding-left: 10%;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 700;
}

.button-options{
    margin-left: 15%;
}

.button-item{
    margin-left: 10%;
}

.button-click{
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: var(--active-color);
    color: white;
}

.button-click:hover{
    color: var(--active-color);
}

.button-option-subtitle{
    font-weight: 600;
}

.container{
    padding: 1%;
    margin: 1%;
    height: 800px; 
    background-color: var(--second-color);
    box-shadow: 0px 0px 20px black;
    border-radius: 8px;
}

.item{
    width: 100px;
    height: 100px;
    background-color: var(--item-color);
    padding: 1em;
    font-weight: 800;
    color: #eee;
    text-align: center;
    border: solid 6px var(--b-item-color);
}

.item:hover{
    background-color: #6202cf;
    color: white;
    cursor: pointer;
}

.container-title{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-right: 10px;
    padding-left: 10px;
    color: white;
}

.main-title{
    font-size: 50px;
    font-weight: 800;
    color: white;
}

.main-title:hover{
    color: var(--active-color);
}

.container-text{
    padding-top: 3px;
    display: flex;
    justify-content: center;
    text-shadow: #eee;
    font-size: 14px;
    font-weight: 400;
    color: white;
    height: 40px;
    margin: 1%;
    border-radius: 8px;
    background-color: #1e1e1e;
}

.container-main-title{
    font-size: 24px;
    font-weight: 600;
}

.hrow{
    padding-top: 4%;
    width: 100%;
    border-bottom: solid  1px grey;
}

.footer{
    padding-top: 10px;
}
.all-rights-txt{
    font-size: 13px;
    font-family: sans-serif;
    text-align: center;
    color: grey;
}

.smlTxt{
    color: grey;
    font-size: 11px;
}

.input-option{
    width: 80%;
    accent-color: var(--active-color);
}

.button-copy{
    background-color: transparent;
    border: 0;
    border-radius: 25%;
    width: 35px;
    height: 35px;
    color: white;
    vertical-align:middle;
}

.button-copy:hover{
    cursor: pointer;
    transition: all .3s;
    background-color: #2f2f2f;
}

.input-text-style{
    width: 45%;
    margin-top: 5px;
    margin-right: 5px;
    height: 25px;
    background-color: #2f2f2f;
    border: 0;
    color: white;
    
}

#copy-text{
    position: fixed;
    bottom: 50px;
    color: white;
    background-color:#2a2a2a;
    opacity: 0;
    padding: 20px;
    border-radius: 30px;
    transition: opacity 1s;
}

/*Main css*/

#container-1{    
    display: flex;
    flex-direction: row;
    /*
    seta o eixo principal
    default: row; alinhamento horizontal
    column; alinhamento vertical
    */ 
    justify-content: start;
    /*
    Alinha os itens no eixo principal
    default: start; começo
    center; centro
    end; fim

    space-between: cria espaços proporcionais ao tamanho da div, sem espaços nas pontas
    space-around; cria espaços, com espaço nas pontas, não proporcional
    space-evenly: cria espaços, com espaço nas pontas, proporcional
    */ 
    align-items: flex-start;
    /*
    Alinha os itens no eixo que cruza o eixo secundario
    default: flex-start; começo
    center; centro
    flex-end; fim

    baseline: alinha os itens fazendo com que eles estejam alinhados pelo texto
    aumente o tamanho de um dos textos para ver
    */
    flex-wrap: nowrap;
    /*
    Coloque mais itens para ver o efeito
    default: nowrap;
    wrap: separa os itens quando possivel, descendo eles na div
    */
    /*align-content: flex-start;*/
    /*
    Só funciona quando o flex-wrap for wrap e tiver itens suficiente
    Funciona como o justify-content mas para os itens que estão fazendo "wraping"
    */
    gap: 5px;
    /*
    Seta espaço entre os itens
    default: 0;
    */
}

#item-3{
    /*flex-grow: 0;*/
    /*
    default: 0;
    Faz com que o item cresça quando tiver espaço para crescer
    Mude o nome da classe para ver
    */

    /*flex-shrink: 0;*/
    /*
    default: no value;
    Maiores valores faz com que o item fique menor primeiro quando responsivo
    */

    /*flex-basis: 150px;*/
    /*
    default: no value;
    seta o width do item
    */

    /*
    Flex é um "atalho" para os 3 parametros
    1º parameter: flex-grow
    2º parameter: flex-shrink
    3º parameter: flex-basis
    nao use "," para separar os parametros
    */
    /*flex: 1 5;*/

    /*align-self: center;*/
    /*
    default: align-self: flex-start;
    functiona como o align-items porém para o item em específico
    */

    /*order: -1;*/
    /*
    default: 0;
    para 3 itens: 
    -1 primeiro
    0 segundo
    1 terceiro
    seta a posição do item para aparecer em ordem de prioridade
    e nao na ordem do html
    nao é recomendado utilizar isso, é mais facil mudar o html
    */
}